@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sans);

    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.5rem;
    --text-h4: 1.25rem;

    --color-dark: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--text-h1);
    font-weight: 700;
}
h2 {
    font-size: var(--text-h2);
    font-weight: 600;
}
h3 {
    font-size: var(--text-h3);
    font-weight: 600;
}
h4 {
    font-size: var(--text-h4);
    font-weight: 500;
}